<?xml version="1.0" encoding="utf-8"?>
<settings>
	<!-- Set up as many services as you like -->
	<!-- <name> is shown in the Webinterface only -->
	<!-- <command> is the command used to control the service -->
	<!-- You can use the placeholder %a, it will be replaced with the action to execute (start, stop, restart, status) -->
	<!-- If it is not specified, the action will be appended -->
	<!-- The commands exit codes must adhere to the LSB 5.0 Chapter 22.2 -->
	<services>
		<service>
			<name>TMF Server</name>
			<command>sudo -n userrestart.sh tmfserver</command>
		</service>
		<service>
			<name>RemoteCP Live</name>
			<command>sudo -n userrestart.sh rcplive</command>
		</service>
	</services>
	<!-- Remember you can set up different settings.xml for each server using settings_<serverid>.xml filenames -->
</settings>
